.card__title {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (48 - 20) + 20px);
    line-height: calc((100vw - 320px) / (768 - 320) * (56 - 24) + 24px);
  }
}

@media screen and (max-width: 480px) {
  .card__title {
    font-size: 48px;
    line-height: 56px;
  }
}
