.card__corner_theme_disabled {
  border-top: 4px solid var(--disabled-color);
  border-left: 4px solid var(--disabled-color);
}

.card__corner_theme_disabled::before {
  background-color: var(--disabled-color);
}

.card__corner_theme_disabled::after {
  background-color: var(--disabled-color);
}

.card:hover .card__corner_theme_disabled {
  border-color: var(--disabled-color);
}

.card:hover .card__corner_theme_disabled::after,
.card:hover .card__corner_theme_disabled::before {
  background-color: var(--disabled-color);
}
