.card__weight_theme_disabled {
  background-color: var(--disabled-color);
}

.card:hover .card__weight_theme_disabled {
  background-color: var(--disabled-color);
}

.card:hover:not(.card_active) .card__weight_theme_disabled {
  background-color: var(--disabled-color);
}
