.card__background_theme_selected {
  border: 4px solid var(--selected-color);
}

.card:hover .card__background_theme_selected {
  border: 4px solid var(--selected-color);
}

.card:hover:not(.card_active) .card__background_theme_selected {
  border: 4px solid var(--selected-hover-color);
}
